
/* # Article container */

article {
    max-width: 829px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

/* the text content is constrained to a legible length, 7/16 */
article  p, ul, h1, h2, h3, h4, h5 {
    max-width: 587px;
}

img {
    max-width: 829px;
}

/* font imports */

@font-face {
  font-family: 'VeraMono';
  src: URL('theme/fonts/VeraMono.ttf') format('truetype');
}

/* fonts */

p, li, td, th {
    color: #111111;
    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.015em;
}

h1 {
    font-family: 'EB Garamond', serif;
    font-weight: normal;
    font-size: 40px;
}

h2 {
    margin-top: 48px;
}


h2, h3, h4, h5 {
    font-family: Lora, sans-serif;
    font-style: italic;
    font-weight: normal;
}

code {
    font-family: 'VeraMono';
    font-style: normal;
    font-size: 14px;
    padding: 2px;
    border-radius: 2px;
    background-color: #f8f8f8;
    color: #111111;
}

pre > code {
    overflow-x: auto;
    display: block;
    line-height: 125%;
    border-radius: 0px;
    padding: 8px;
    background-color: #f9f9f9;
}

h3 code {
    font-size: 18px;
}

a > code {
    color: navy;
}

code.cell-output {
    color: #444;
    background-color: #ffffff;
}

pre {
    margin: 8px 0px;
}

article > pre {
    margin: 8px 0px;
}

/* Tables */

table {
    margin: 32px 16px;
    overflow-x: auto;
    display: block;
}
th + th , td + td{
    padding-left: 12px;
}

th {
    font-style: italic;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

li > * {
    margin-top: 8px;
    margin-bottom: 8px;
}

.marginnote {
    float: right;
    font-size: 14px;
    width: 222px;
    clear: right;
    margin-top: 0.3rem;
    margin-bottom: 0;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}

/* # Menu container */

.menu {
    max-width: 587px;
    margin-left: auto;
    padding-right: 222px;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
    height: 40px;
}

#search-input {
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 4px;
    font-size: 19px;
    margin: 0px 16px;
    flex-grow: 1;
    padding: 4px;
}
#search-input:focus {
    outline: none;
    border-bottom: 1px solid #111111;
}

/* # Table of contents container */

nav#toc {
    margin-top: 50px;
    max-width: 829px;
    margin-left: auto;
    margin-right: auto;
}


.katex {
    font-size: 15px;
}

footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 16px;
    color: #aaa;
    width: 300px;
}

@media (max-width: 829px) {
    article {
        margin-left: 8px;
        margin-right: 8px;
    }
    .marginnote {
        float: none;
        margin: 16px 8px;
        width: 100%;
    }
    .menu {
        margin-left: 8px;
        margin-right: 8px;
        padding-right: 0px;
    }
}

/* Links

from https://github.com/edwardtufte/tufte-css/blob/gh-pages/tufte.css

*/

/* Links: replicate underline that clears descenders */
a:link,
a:visited {
    text-decoration: dotted;
    color: navy;
}

footer a:link, a:visited {
    color: inherit;
    text-decoration: underline;
}

/* code styling

From https://github.com/highlightjs/highlight.js/blob/master/src/styles/atom-one-light.css
*/

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649;
}

.hljs-literal {
  color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #50a14f;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #c18401;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}